*{
    margin: 0;
    padding: 0;
}
.wrapper{
    height: 2000px;

}
.container{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background-color: bisque;
}
header{
    position: fixed;
    width: 1200px;
    height: 70px;
    background-color: black;
    margin: 0 auto;
}